/* ===========================================
   FUTURE SECTION - Style Truus Exact
   =========================================== */

/* ------------------------- Variables -------------------------------------------------- */

:root {
  --container-padding-s: .75em;
}

/* ------------------------- Future Section -------------------------------------------------- */

.future {
  padding-top: 6em;
  padding-bottom: 6em;
  overflow: clip;
  background-color: var(--color-light, #F0EBE7);
  color: var(--color-dark, black);
}

.future__row-title {
  text-align: center;
  justify-content: center;
  display: flex;
}

.future__col-title {
  flex-flow: column;
  align-items: center;
  max-width: 50em;
  display: flex;
  position: relative;
}

.future__col-title h2 {
  font-size: 4em;
  line-height: 1.1;
  letter-spacing: -0.02em;
  font-weight: 700;
}

.future__col-title h2 em {
  font-family: 'Fraunces', Georgia, 'Times New Roman', serif;
  font-style: italic;
  font-weight: 400;
}

.future__love-sticker {
  width: 9em;
  position: absolute;
  bottom: 37%;
  right: 7%;
  transform: translate(50%, 50%);
}

.future__line {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
}

.future__title-line {
  width: 39.375em;
}

/* Line draw animation - controlled by JS scroll */
.future__title-line svg path {
  transition: stroke-dashoffset 0.1s ease-out;
}

/* ------------------------- Cards Row -------------------------------------------------- */

.future__row-cards {
  justify-content: center;
  align-items: center;
  padding-top: 10em;
  padding-bottom: 7.5em;
  display: flex;
  position: relative;
}

.future-image {
  border-radius: var(--container-padding-s);
  width: 16em;
  position: relative;
  overflow: hidden;
}

.future-image__before {
  padding-top: 125%;
}

.future__cards-item {
  margin-top: 2em;
  margin-bottom: 2em;
  position: relative;
  transform: translateY(-1.75em) rotate(-7.5deg);
}

.future__cards-item.is--2 {
  margin-left: -4em;
  transform: translateY(1.75em) rotate(3.5deg);
}

.future__cards-item.is--3 {
  -webkit-user-select: none;
  user-select: none;
  margin-left: -2.5em;
  transform: translateY(-1.75em) rotate(-5deg);
}

.future__cards-item.is--4 {
  margin-left: -2.375em;
  transform: translateY(0) rotate(3.5deg);
}

.future__bg-shape {
  width: 32.9375em;
  position: absolute;
  transform: translate(-69%, 1%);
}

/* ------------------------- Flying Tags -------------------------------------------------- */

.future__flying-tag {
  z-index: 1;
  position: absolute;
  top: 36%;
  left: 34%;
  transform: translate(-50%, -50%);
}

.future__flying-tag.is--2 {
  top: 66%;
  left: 49%;
}

.future__flying-tag.is--3 {
  top: 45%;
  left: 82%;
}

.flying-tag__wrap {
  position: relative;
}

/* ------------------------- Tag Component -------------------------------------------------- */

.tag {
  border-radius: 10em;
  background-color: var(--color-dark, black);
  color: var(--color-light, #F0EBE7);
  white-space: nowrap;
  padding: .75em 1.25em;
  font-size: .875em;
  font-weight: 500;
}

.tag[data-theme="Pink"] {
  background-color: #f0befa;
  color: var(--color-dark, black);
}

.tag[data-theme="Orange"] {
  background-color: #FF6B35;
  color: white;
}

.tag[data-theme="Green"] {
  background-color: #2D7864;
  color: white;
}

.tag[data-theme="Brown"] {
  background-color: #302621;
  color: white;
}

.tag__h4 {
  font-size: 1em;
  font-weight: 500;
  margin: 0;
}

/* ------------------------- Text Row -------------------------------------------------- */

.future__row-text {
  text-align: center;
  flex-flow: column;
  align-items: center;
  display: flex;
}

.future__text-p {
  max-width: 26.75em;
  font-size: 1.125em;
  line-height: 1.6;
}

/* ------------------------- Cover Image -------------------------------------------------- */

.future .cover-image {
  object-fit: cover;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* ------------------------- RESPONSIVE -------------------------------------------------- */

@media screen and (max-width: 991px) {
  .future__col-title h2 {
    font-size: 3em;
  }

  .future__row-cards {
    padding-top: 6em;
    padding-bottom: 5em;
  }

  .future-image {
    width: 12em;
  }

  .future__love-sticker {
    width: 6em;
  }

  .future__bg-shape {
    width: 26em;
  }

  .future__title-line {
    width: 28em;
  }
}

@media screen and (max-width: 767px) {
  .future {
    padding-top: 3em;
    overflow: clip;
  }

  .future__col-title h2 {
    font-size: 2em;
  }

  .future__love-sticker {
    width: 4.5em;
    bottom: 47%;
    right: 8%;
  }

  .future__row-cards {
    padding-top: 3.5em;
    padding-bottom: 4em;
  }

  .future-image {
    width: 8.5em;
  }

  .future__cards-item {
    transform: translateY(-.75em) rotate(-7.5deg);
  }

  .future__cards-item.is--2 {
    margin-left: -2.25em;
    transform: translateY(1em) rotate(3.5deg);
  }

  .future__cards-item.is--3 {
    margin-left: -1.5em;
    transform: translateY(-.5em) rotate(-5deg);
  }

  .future__cards-item.is--4 {
    display: none;
  }

  .future__bg-shape {
    width: 20em;
    transform: translate(-46%, 1%) rotate(2deg);
  }

  .future__title-line {
    width: 17.5em;
  }

  .future__flying-tag {
    display: none;
  }

  .future__text-p {
    font-size: 1em;
    padding: 0 1em;
  }
}

@media screen and (max-width: 479px) {
  .future__col-title h2 {
    font-size: 1.5em;
  }

  .future-image {
    width: 6.5em;
  }

  .future__love-sticker {
    width: 3.5em;
  }

  .future__bg-shape {
    width: 16em;
  }

  .future__title-line {
    width: 14em;
  }
}
